@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
*{margin: 0; padding: 0;}
body{
  padding: 10px 24px;
  position: relative;
}
header{
  margin: 0 0 10px;
}
h4 > small, h3 > small{ font-size: 0.7em;color:#666;font-weight:normal; margin-left: .5em;}
hr{height: 2px;width: 100%; background-color: #DFDFDF; border: none; margin: 3px 0;}
h3{font-size: 1.2em;}
h4{font-size: 1.05em;}
section{
  margin-top: 14px;
  font-size: .85em;
}
.project-module:not(:first-child){
  margin-top: 10px;
}
.project-title{
  display: flex;
  align-items: center;
  line-height: 1.8;
  svg{margin-right: 4px;}
}
.personal{
  display: flex;
  flex: 1;
  aside{
    flex: 1;
    padding-right: 10px;
    div{
      line-height: 1.4;
    }
  }
}
li{
  list-style: none;
}
.skill-detail li{
  line-height: 1.4;
}
.iconfont{
  font-size: 0.8em;
  margin-left: 4px;
  &-img{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../../assets/logo.jpg) no-repeat center;
    background-size: contain;
    vertical-align: text-top;
  }
}
.company{
  font-size: 1.3em;
  line-height: 2;
  &:not(:first-child) {
    margin-top: 10px;
  }
  .iconfont{
    margin: 0;
    font-size: 1em;
  }
}
footer{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: rgb(235, 5, 5);
  position: absolute;
  right: 20px;
  bottom: 10px;
  transform: rotateZ(-45deg)
}